
Trivia/.vs/Trivia/v15/.suo
Trivia/.vs/Trivia/v15/Server/sqlite3/db.lock
Trivia/.vs/Trivia/v15/Server/sqlite3/storage.ide
Trivia/.vs/Trivia/v15/Server/sqlite3/storage.ide-shm
Trivia/.vs/Trivia/v15/Server/sqlite3/storage.ide-wal
Trivia/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Trivia/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Trivia/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Trivia/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Trivia/obj/Debug/Trivia.csproj.CopyComplete
Trivia/obj/Debug/Trivia.csproj.CoreCompileInputs.cache
Trivia/obj/Debug/Trivia.csproj.FileListAbsolute.txt
Trivia/obj/Debug/Trivia.csprojAssemblyReference.cache
Trivia/obj/Debug/Trivia.dll
Trivia/obj/Debug/Trivia.pdb
Trivia/.vs/Trivia/DesignTimeBuild/.dtbcache
